@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 0;

    @include respond(tab-port) {
        margin-bottom: 0;
    }
}
.u-margin-bottom-medium {
    margin-bottom: 0;

    @include respond(tab-port) {
        margin-bottom: 0;
    }
}
.u-margin-bottom-small {
    margin-bottom: 0;
}

.u-margin-top-big {
    margin-top: 0;
}
.u-margin-top-huge {
    margin-top: 0;
}
.u-margin-top-small {
    margin-top: 0;
}
